:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --header-bg-color: #4CAF50;
    --header-text-color: white;
    --footer-bg-color: #946161;
    --footer-text-color: rgb(255, 255, 255);
}
*{
    margin: 0;
}
header {
    background: fixed;

}
footer {
    background: fixed;
    color: white;
}